[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
jupyterlab = "*"
matplotlib = "*"

[packages]
flask = "*"
opencv-python = "*"
requests = "*"
numpy = "*"

[requires]
python_version = "3.6"
