* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    text-align: center;
    background: #2c3e50;
    color: #ecf0f1;
    font-family: sans-serif;
}

h1 {
    margin: 20px;
}

.stats p {
    margin: 10px 0;
    display: inline-block;
    width: 45%;
    margin: 5px;
    font-size: 24px;
}

.stats span {
    font-weight: 700;
}

#num_correct {
 color: #27ae60
}

#num_wrong {
    color: #c0392b
}

img {
    width: 100%;
    max-width: 512px;
}

.choices {
    margin: 10px 0;
}

.choices button {
    background: #2980b9;
    font-size: 24px;
    width: 45%;
    height: 90px;
    margin: 5px;
    border: none;
    outline:none;
    border-radius: 10px;
}

button::-moz-focus-inner {
    border: 0;
}

.choices button:hover {
    background: #3498db;
}

.reset {
    padding: 5px 10px;
    background: #16a085;
    font-size: 18px;
    margin: 20px;
    border: none;
    outline:none;
    border-radius: 5px;
}