* {
    box-sizing: border-box;
    color: #f1f2f6;
    vertical-align: middle;
    text-align: center;
    border: 0;
    padding: 0;
    margin: 0;
}

:focus {
    outline:none;
}

::-moz-focus-inner {
    border:0
}
  
html {
    width: 100%;
    overflow-x: hidden;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
    font-size: 16px;
    width: 100%;
    background: #2f3542;
}

.logo {
    margin: 5px;
    width: 48px;
}

header {
    width: 75%;
    max-width: 512px;
    margin: 5px auto;
}

h1 {
    font-size: 1.6em;
    line-height: 1.2em;
}

a {
    text-decoration: none;
}

.face {    
    max-width: 512px;
    margin: 5px 0;
    width: 75%;
}

button {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    font-weight: 700;
}

.choices {
    display:flex;
    flex-wrap: wrap;
    margin: 5px auto;
    width: 100%;
    max-width: 1024px;
}

.choices button {
    display: block;
    background: #1e90ff;
    font-size: 1.5em;
    width: 48%;
    height: 90px;
    margin: 1%;
    border-radius: 10px;
    overflow: hidden;
}

.choices button:hover {
    background: #70a1ff;
}

.stats {
    display:flex;
    flex-wrap: wrap;
    margin: 5px auto;
    width: 100%;
    max-width: 1024px;
}

.stats p {
    display: inline-block;
    text-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 100px;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 2.4em;
    font-weight: 700;
}

#num_correct {
    color: #27ae60;
}

#num_wrong {
    color: #ff4757;
}

.reset {
    background: #ffa502;
    font-size: 1.8em;
    width: 60px;
    border-radius: 5px;
}

.reset:hover {
    background: #eccc68;
}

.github {
    margin: 10px;
}