* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    text-align: center;
    background: #2f3542;
    color: #dfe4ea;
    font-family: sans-serif;
}

h1 {
    font-size: 24px;
    margin: 20px;
}

.stats {
    margin: 5px auto;
    width: 100%;
    max-width: 1024px;
}

.stats p {
    display: inline-block;
    width: 25%;
    font-size: 24px;
    font-weight: 700;
}

#num_correct {
    color: #27ae60
}

#num_wrong {
    color: #ff4757
}

img {
    width: 80%;
    max-width: 512px;
}

.choices {
    display:flex;
    flex-wrap: wrap;
    margin: 5px auto;
    max-width: 1024px;
}

.choices button {
    display: block;
    background: #1e90ff;
    font-size: 24px;
    width: 48%;
    height: 90px;
    margin: 1%;
    border: none;
    outline: none;
    border-radius: 10px;
}

button::-moz-focus-inner {
    border: 0;
}

.choices button:hover {
    background: #70a1ff;
}

.reset {
    padding: 5px 10px;
    background: #ffa502;
    font-size: 24px;
    margin: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}